<footer class="footer">
        <div class="container">
            <div class="footer_title">NodeShop</div>
            <div class="footer_list">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                </ul>
            </div>
            <div class="footer_phone"><a href="#">+380631432121</a></div>
            <div class="footer_backCall">Обратный звонок</div>

            <div class="divider"></div>

            <div class="footer_madeBy">Made by Kucher-mx</div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
    <script src="/js/splide.min.js"></script>
</body>
</html>