<div class="about-page">
        <div class="container">
            <div class="page_title">О нас</div>
            <div class="about-page_block white">
                <div class="about-page_img">
                    <img src="assets/images/promo_3.jpg" alt="about-image">
                </div>
                <div class="about-page_info right">
                    <div class="about-page_block_title">block 1</div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos totam aspernatur ad! Ipsam libero corporis magnam nobis eaque sit earum ratione voluptate deserunt, exercitationem cumque commodi sunt. Non harum iure voluptatum a vero corporis reprehenderit consequatur veniam ipsa! Eveniet in facilis molestias corporis nobis quia non sunt impedit! Quibusdam architecto quidem ducimus! Natus, numquam?
                    <a href="#" class="btn btn_about btn_about-page">Перейти</a>
                </div>
            </div>
    
            <div class="about-page_block black">
                <div class="about-page_info left">
                    <div class="about-page_block_title">block 2</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, possimus vel nihil fugiat eveniet incidunt alias repellat labore accusamus excepturi aliquid error nostrum veritatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur consequuntur atque ducimus quibusdam perferendis adipisci ipsum harum error rem quod fugiat dignissimos quasi reiciendis facilis aliquid iste totam, sapiente minima.</div>
                <div class="about-page_img">
                    <img src="assets/images/promo_2.webp" alt="about-image">
                </div>
            </div>
            <div class="about-page_block white">
                <div class="about-page_img">
                    <img src="assets/images/promo_1.jpg" alt="about-image">
                </div>
                <div class="about-page_info right">
                    <div class="about-page_block_title">block 1</div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos totam aspernatur ad! Ipsam libero corporis magnam nobis eaque sit earum ratione voluptate deserunt, exercitationem cumque commodi sunt. Non harum iure voluptatum a vero corporis reprehenderit consequatur veniam ipsa! Eveniet in facilis molestias corporis nobis quia non sunt impedit! Quibusdam architecto quidem ducimus! Natus, numquam?</div>
            </div>
    
            <div class="about-page_block black">
                <div class="about-page_info left">
                    <div class="about-page_block_title">block 2</div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, possimus vel nihil fugiat eveniet incidunt alias repellat labore accusamus excepturi aliquid error nostrum veritatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur consequuntur atque ducimus quibusdam perferendis adipisci ipsum harum error rem quod fugiat dignissimos quasi reiciendis facilis aliquid iste totam, sapiente minima.
                    <a href="#" class="btn btn_about btn_about-page btn_white">Перейти</a>
                </div>
                <div class="about-page_img">
                    <img src="assets/images/promo_4.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>