<div class="addItem-page">
    <div class="block_info_title" style="color: black; text-align: center;">Add item</div>
    <div class="container">
        <div class="addItem-page_form">
            <form action="/items/add" method="POST" >
                <div class="input">
                    <label for="logPass">Title</label>
                    <input type="text" name="title"  placeholder="Enter ...">
                </div>

                <div class="textarea input">
                    <label for="logPass">Description</label>
                    <textarea name="descr" id="descr" maxlength="287" rows="3"></textarea>
                </div>

                <div class="input_prices">
                    <div class="input">
                        <label for="logPass">Price old</label>
                        <input type="number" name="priceOld"  placeholder="Enter ...">
                    </div>

                    <select name="caregories" id="caregories" class="select">
                        {{#each categoriesAvaliable}}
                            <option value="{{category}}">{{category}}</option>
                        {{/each}}
                    </select>
                    {{!-- <div class="input">
                        <label for="logPass">Price new</label>
                        <input type="number" name="priceNew"  placeholder="Enter ...">
                    </div> --}}
                    <div class="input">
                        <label for="logPass">Quantity</label>
                        <input type="number" name="quantity"  placeholder="Enter ...">
                    </div>
                </div>

                <div class="input">
                    <label for="logPass">Models (cherez ,)</label>
                    <input type="text" name="models"  placeholder="Enter ...">
                </div>

                <div class="input">
                    <label for="logPass">Colors (cherez ,)</label>
                    <input type="text" name="colors"  placeholder="Enter ...">
                </div>

                

                {{!-- <div class="input">
                    <input type="file" id="file" name="file" multiple placeholder="choose photos">
                </div> --}}

                <button type="submit" class="btn btn_form">add</button>
            </form>
        </div>
    </div>
</div>