<div class="contacts-page">
        <div class="page_title">Контакты</div>
        <div class="container">
            <div class="contacts-page_info">
                <p>Вы можете найти нас по адресу: г. Москва, ул. Торговая, дом 123, офис 456</p>
                <p>Как добраться: Сокольническая линия метро, последний вагон из центра, выход в сторону Казанского вокзала.</p>
                <p>Телефон отдела продаж: 8-495-123-45-67 (многоканальный)</p>
                <p>Телефон отдела оптовых продаж: 8-495-765-43-21</p>
                <p>Email: sales@myshop.ru</p>

                <table>
                    <tbody>
                        <tr>
                            <td>Понедельник</td>
                            <td>  с 9:00 до 21:00</td>
                        </tr>
                        <tr>
                            <td>Вторник</td>
                            <td>  с 9:00 до 21:00</td>
                        </tr>
                        <tr>
                            <td>Среда</td>
                            <td>  с 9:00 до 21:00</td>
                        </tr>
                        <tr>
                            <td>Четверг</td>
                            <td>  с 9:00 до 21:00</td>
                        </tr>
                        <tr>
                            <td>Пятница</td>
                            <td>  с 9:00 до 21:00</td>
                        </tr>
                        <tr>
                            <td>Суббота</td>
                            <td>  с 10:00 до 20:00</td>
                        </tr>
                        <tr>
                            <td>Воскресенье</td>
                            <td>  с 10:00 до 20:00</td>
                        </tr>
                    </tbody>
                </table>
                <p>Заказы через сайт принимаются круглосуточно!</p>
                <p><strong>Реквизиты:</strong></p>
            </div>
        </div>
    </div>