<div class="promo">
        <div class="container">
            <div class="promo_wrapper">
                <h1 class="promo_title">Укрась свой IPhone</h1>
                <h2 class="promo_subtitle">Выбор аксесуаров на любой вкус</h2>
            </div>
        </div>
    </div>

    <div class="popular">
        <div class="popular_title">Популярные товары</div>
        <div class="container">
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">

                        <li class="splide__slide">

                            <div class="splide__slide__container">
                                <img src="assets/images/case_1.jpeg" alt="">
                            </div>
                            <div class="item_sale">20%</div>

                            <div class="item_info">
                                <div class="popular_item_title">Чехол на Айфон 11</div>
                                <div class="popular_item_descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque at labore assumenda, illum facere dicta. Quaerat.</div>

                                <div class="popular_item_wrap">
                                    <div class="item_price">1500</div>
                                    <form action="" method="post" class="popular_item_buy">
                                        <button type="submit" class="btn btn_card">Купить</button>
                                    </form>
                                </div>
                            </div>

                        </li>

                        <li class="splide__slide">

                            <div class="splide__slide__container">
                                <img src="assets/images/case_1.jpeg" alt="">
                            </div>

                            <div class="item_info">
                                <div class="popular_item_title">Чехол на Айфон 11</div>
                                <div class="popular_item_descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque at labore assumenda, illum facere dicta. Quaerat.</div>

                                <div class="popular_item_wrap">
                                    <div class="item_price">1300 click</div>
                                    <form action="/buy" method="POST" class="popular_item_buy">
                                        <input type="hidden" name="price" value="1500">
                                        <input type="hidden" name="name" value="iphone case 11">
                                        <input type="hidden" name="sale" value="20%">
                                        <button type="submit" class="btn btn_card">Купить</button>
                                    </form>
                                </div>
                            </div>

                        </li>

                        <li class="splide__slide">

                            <div class="splide__slide__container">
                                <img src="assets/images/case_1.jpeg" alt="">
                            </div>
                            <div class="item_sale">-10%</div>

                            <div class="item_info">
                                <div class="popular_item_title">Чехол на Айфон 11</div>
                                <div class="popular_item_descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque at labore assumenda, illum facere dicta. Quaerat.</div>

                                <div class="popular_item_wrap">
                                    <div class="item_price">2000</div>
                                    <form action="" method="post" class="popular_item_buy">
                                        <button type="submit" class="btn btn_card">Купить</button>
                                    </form>
                                </div>
                            </div>

                        </li>

                        <li class="splide__slide">

                            <div class="splide__slide__container">
                                <img src="assets/images/case_1.jpeg" alt="">
                            </div>

                            <div class="item_info">
                                <div class="popular_item_title">Чехол на Айфон 11</div>
                                <div class="popular_item_descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque at labore assumenda, illum facere dicta. Quaerat.</div>

                                <div class="popular_item_wrap">
                                    <div class="item_price">1000</div>
                                    <form action="" method="post" class="popular_item_buy">
                                        <button type="submit" class="btn btn_card">Купить</button>
                                    </form>
                                </div>
                            </div>

                        </li>

                        <li class="splide__slide">

                            <div class="splide__slide__container">
                                <img src="assets/images/case_1.jpeg" alt="">
                            </div>

                            <div class="item_info">
                                <div class="popular_item_title">Чехол на Айфон 11</div>
                                <div class="popular_item_descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque at labore assumenda, illum facere dicta. Quaerat.</div>

                                <div class="popular_item_wrap">
                                    <div class="item_price">1800</div>
                                    <form action="" method="post" class="popular_item_buy">
                                        <button type="submit" class="btn btn_card">Купить</button>
                                    </form>
                                </div>
                            </div>

                        </li>

                    </ul>
                </div>

                <div class="splide__progress">
                    <div class="splide__progress__bar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about_info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At eum impedit praesentium exercitationem sint, adipisci esse dolor rem hic nisi! Harum ullam quasi fugit odio. Eos ipsam non soluta velit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus velit, porro itaque dignissimos nobis inventore odit vitae facere laboriosam magnam dicta placeat alias error in, iste nisi aliquam. Cum, id.
            <a href="#" class="btn btn_about">Посмотреть</a>
        </div>
    </div>

    <div class="formGet">
        <div class="container">
            <div class="formGet_title">Получайте новости первыми</div>
            <div class="formGet_subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem itaqueum impedit praesentium exercitationem sint.</div>

            <form action="" method="POST" class="formGet_form">
                <input type="email" name="subscribeEmail" id="subscribeEmail" placeholder="Email">
                <button type="submit" class="btn btn_subscribeForm">Подписаться</button>
            </form>
        </div>
    </div>