<div class="about-page">
        <div class="container">
            <div class="addItem-page_form">
                <form action="/profile/edit" method="post">
                    <div class="input">
                        <label for="name">Name</label>
                        <input type="text" name="name"  value="{{name}}">
                    </div>

                    <div class="input">
                        <label for="mail">Email</label>
                        <input type="text" name="email"  value="{{email}}">
                    </div>

                    <div class="input">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone"  value="{{phone}}">
                    </div>

                    <button type="submit" class="btn btn_form">Save changed</button>
                </form>
            </div>
    </div>
</div>