.promo {
  position: relative;
  background: center center/cover url("../assets/images/promo_4.jpg") no-repeat;
  object-fit: contain;
  height: 100vh;
  width: 100vw; }
  .promo_wrapper {
    position: absolute;
    bottom: 20%;
    color: #fff; }
  .promo_title {
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500; }
  .promo_subtitle {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300; }

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #726f6f; }
  .header_logo a {
    text-transform: uppercase;
    font-size: 36px;
    color: #000;
    font-weight: 300; }
    .header_logo a:hover {
      text-decoration: none; }
  .header_icons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header_icons_list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .header_icons_list_item {
        margin: 0 7px;
        color: #000;
        font-size: 20px;
        position: relative; }
        .header_icons_list_item a {
          color: #000; }
  .header .hide {
    display: none; }
  .header .cart_info {
    padding: 10px 5px;
    border: 1px solid #000;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px; }
    .header .cart_info::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid black; }
    .header .cart_info .cart_title {
      font-weight: 400;
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 7px; }
    .header .cart_info ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 150px;
      overflow: scroll; }
      .header .cart_info ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 350px;
        margin: 5px 0;
        border-bottom: 1px solid #000;
        padding: 0px 10px 3px 10px; }
        .header .cart_info ul li:last-child {
          border-bottom: none; }
        .header .cart_info ul li .left, .header .cart_info ul li .right {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        .header .cart_info ul li .cart_item_name {
          margin-left: 10px;
          font-weight: 300;
          text-transform: uppercase; }
        .header .cart_info ul li .cart_item_logo {
          height: 35px; }
          .header .cart_info ul li .cart_item_logo img {
            height: 100%;
            object-fit: cover; }
        .header .cart_info ul li .delete {
          margin-left: 15px;
          transform: rotate(45deg);
          font-size: 24px;
          font-weight: 300;
          cursor: pointer; }
        .header .cart_info ul li .quantity {
          font-weight: 300;
          text-transform: uppercase; }
    .header .cart_info .cart_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 10px 5px 10px; }
      .header .cart_info .cart_actions .clear {
        font-weight: 300;
        text-transform: uppercase; }
      .header .cart_info .cart_actions form button {
        width: 100px;
        text-transform: uppercase; }
  .header_burger {
    width: 30px;
    cursor: pointer;
    z-index: 10; }
    .header_burger span {
      display: block;
      background-color: #000;
      width: 100%;
      height: 2px;
      margin: 5px 0; }
  .header .search-container {
    display: none;
    flex-direction: row;
    position: absolute;
    right: 19%; }
  .header .search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none; }
  .header .search-container button {
    display: block;
    height: 100%;
    float: right;
    padding: 0px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer; }
  .header .search-container button:hover {
    background: #ccc; }
  .header .search-container_active {
    display: flex; }

.footer {
  background-color: #f8f8f8;
  padding-top: 40px;
  position: static;
  bottom: 0;
  width: 100%; }
  .footer_title {
    font-size: 36px;
    text-align: center;
    font-weight: 300; }
  .footer_list {
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content; }
    .footer_list ul {
      display: flex;
      flex-direction: row;
      list-style-type: none; }
      .footer_list ul li {
        margin: 0 10px;
        position: relative; }
        .footer_list ul li::before {
          content: '';
          width: 0%;
          transition: 0.5s all;
          height: 1px;
          position: absolute;
          bottom: 0;
          background-color: #000; }
        .footer_list ul li:hover::before {
          width: 100%; }
        .footer_list ul li a {
          color: #000;
          font-weight: 300; }
          .footer_list ul li a:hover {
            text-decoration: none; }
  .footer_phone {
    text-align: center;
    font-weight: 300; }
    .footer_phone a {
      color: #000;
      position: relative; }
      .footer_phone a::before {
        content: '';
        width: 0%;
        transition: 0.5s all;
        height: 1px;
        position: absolute;
        bottom: 0;
        background-color: #000; }
      .footer_phone a:hover {
        text-decoration: none; }
        .footer_phone a:hover::before {
          width: 100%; }
  .footer_backCall {
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
    cursor: pointer; }
  .footer_madeBy {
    text-align: center;
    font-weight: 300; }
  .footer .divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 35px;
    margin-bottom: 15px; }

.content {
  height: 600px; }

.header_menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s left;
  left: -100%; }
  .header_menu_active {
    left: 0; }
  .header_menu_list {
    position: relative;
    padding: 0 25px;
    padding-top: 55px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column; }
    .header_menu_list ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .header_menu_list ul li {
        margin: 7px 0;
        position: relative; }
        .header_menu_list ul li a {
          color: #000;
          font-weight: 300;
          position: relative;
          padding-bottom: 3px; }
          .header_menu_list ul li a:hover {
            text-decoration: none; }
            .header_menu_list ul li a:hover::before {
              width: 100%; }
          .header_menu_list ul li a::before {
            content: '';
            width: 0%;
            transition: 0.5s all;
            height: 1px;
            position: absolute;
            bottom: 0;
            background-color: #000; }
  .header_menu_logo {
    align-self: flex-start;
    font-size: 36px;
    font-weight: 300;
    line-height: 30px; }
  .header_menu_close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 100;
    cursor: pointer;
    font-size: 55px;
    line-height: 40px;
    transform: rotate(-45deg); }
  .header_menu_social {
    margin-top: 10px; }
    .header_menu_social ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style-type: none; }
      .header_menu_social ul li {
        margin: 0 5px; }
        .header_menu_social ul li a:hover {
          text-decoration: none; }
          .header_menu_social ul li a:hover::before {
            width: 0%; }
        .header_menu_social ul li a img {
          width: 30px; }
  .header_menu_phone {
    font-weight: 300;
    cursor: pointer; }
    .header_menu_phone a {
      color: #000;
      position: relative;
      padding-bottom: 3px; }
      .header_menu_phone a::before {
        content: '';
        width: 0%;
        transition: 0.5s all;
        height: 1px;
        position: absolute;
        bottom: 0;
        background-color: #000; }
      .header_menu_phone a:hover {
        text-decoration: none; }
        .header_menu_phone a:hover::before {
          width: 100%; }
  .header_menu_backcall {
    color: #c22222;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer; }
    .header_menu_backcall span {
      font-size: 12px;
      font-weight: 200;
      margin-left: 7px; }
  .header_menu .divider {
    margin-top: 30px;
    margin-bottom: 20px; }

.about {
  position: relative;
  height: 350px;
  background: center center/cover url("../assets/images/promo_4.jpg") no-repeat; }
  .about_info {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 50px 35px;
    font-size: 14px;
    font-weight: 300;
    word-spacing: 2px; }

.btn {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: #383636;
  font-weight: 300;
  color: #fff; }
  .btn_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 135px;
    height: 40px; }
    .btn_about:hover {
      color: #fff;
      text-decoration: none; }
    .btn_about-page {
      margin-top: 10px; }
  .btn_white {
    background-color: #fff;
    color: #000; }
    .btn_white:hover {
      color: #000; }
  .btn_subscribeForm {
    width: 23%;
    background-color: #000; }
  .btn_card {
    width: 85px;
    height: 30px;
    background-color: #000; }
  .btn_item {
    height: 100%; }
  .btn_form {
    position: absolute;
    bottom: -20px;
    right: 0px;
    width: 150px;
    height: 40px;
    transition: .3s box-shadow ease-in; }
    .btn_form:hover {
      box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .btn_loadFiles input[type=file] {
    display: block;
    width: 150px;
    height: 40px;
    transition: .3s box-shadow ease-in; }
    .btn_loadFiles input[type=file]:hover {
      box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
      border: 1px solid rgba(0, 0, 0, 0.3); }

.page_title {
  text-align: center;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 300; }

.formGet {
  min-height: 220px;
  padding-top: 15px;
  position: relative; }
  .formGet_title {
    text-align: center;
    font-size: 33px;
    font-weight: 400; }
  .formGet_subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 300; }
  .formGet_form {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .formGet_form input {
      border: 1px solid #000;
      background-color: #fff;
      padding: 15px 20px;
      width: 75%;
      font-weight: 300;
      font-size: 18px; }

.popular {
  padding-bottom: 45px;
  min-height: 300px; }
  .popular_title {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px; }
  .popular_item_title {
    font-size: 20px;
    font-weight: 500;
    text-align: center; }
  .popular_item_descr {
    font-weight: 300;
    font-size: 14px;
    text-align: center; }
  .popular_item_wrap {
    padding-left: 7px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .popular .splide .splide__progress {
    margin-top: 30px; }
  .popular .splide .splide__pagination {
    bottom: 12px; }
    .popular .splide .splide__pagination .is-active {
      background-color: #000; }

.block_info {
  min-height: 400px;
  background: center center/cover url("../assets/images/promo_4.jpg") no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .block_info_title {
    font-size: 40px;
    color: #fff;
    font-weight: 300; }
  .block_info_interactive {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 90%; }

.divider {
  background-color: #fff;
  margin: 20px auto;
  height: 1px;
  width: 90%; }
  .divider_black {
    background-color: #000;
    margin-top: 25px;
    height: 3px;
    width: 100%;
    border-top-left-radius: 5px; }
  .divider_item {
    width: 100%;
    background-color: #000; }

.hidden_info {
  position: absolute;
  transition: 1s bottom;
  transition-timing-function: ease-out;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(5px);
  bottom: -100%; }
  .hidden_info_title {
    text-align: center;
    font-size: 18px;
    font-weight: 500; }
  .hidden_info_descr {
    font-weight: 300;
    font-size: 14px;
    text-align: center; }

.center {
  text-align: center;
  color: #000;
  margin-bottom: 5px; }

.splide__progress {
  margin-top: 30px; }

.splide__pagination {
  bottom: 7px; }

.splide__pagination__page {
  background-color: #373131; }

.splide__pagination__page .is-active {
  background-color: #d5c5c5; }

.container .splide_slider {
  margin: 40px 0;
  position: relative; }

.container .splide__list {
  display: flex;
  overflow: hidden; }
  .container .splide__list .splide__slide {
    margin: 0 11px; }
    .container .splide__list .splide__slide__container img {
      object-fit: cover;
      width: 100%; }
    .container .splide__list .splide__slide:hover .item_info {
      bottom: 0; }
    .container .splide__list .splide__slide .item_info {
      position: absolute;
      z-index: 3;
      transition: 1s bottom;
      bottom: -100%;
      background-color: rgba(255, 255, 255, 0.55);
      backdrop-filter: blur(5px);
      padding: 10px 20px; }
    .container .splide__list .splide__slide .item_sale {
      position: absolute;
      top: 15px;
      left: 15px;
      background-color: #ff0e0e;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 300;
      color: #fff;
      width: 50px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }

form input {
  background-color: #fff !important; }
  form input:focus {
    outline: none; }

.select {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #000;
  border-radius: 0.25em;
  margin: 0 7px;
  height: 45px; }
  .select:focus {
    outline: none; }

.addItem {
  width: 320px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  margin: 0 10px;
  margin-top: 25px; }
  .addItem a {
    color: #000;
    text-decoration: none; }
  .addItem_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .addItem_content_img {
      display: flex;
      justify-content: center;
      width: 25%; }
      .addItem_content_img img {
        width: 100%;
        object-fit: cover; }
    .addItem_content_text {
      margin-top: 50px; }

textarea {
  resize: none;
  padding: 15px 15px;
  height: 70px; }

.about-page {
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 40px; }
  .about-page_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 16px; }
    .about-page_block_title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 28px; }
  .about-page_info {
    padding-top: 5px;
    width: 50%; }
  .about-page .right {
    padding-right: 25px; }
  .about-page .left {
    padding-left: 25px; }
  .about-page .white {
    background-color: #fff; }
  .about-page .black {
    background-color: #000;
    color: #fff; }
  .about-page_img {
    width: 45%;
    height: 100%;
    object-fit: cover; }
    .about-page_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.item-page {
  padding-top: 110px; }
  .item-page .item {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    padding: 0 40px; }
    .item-page .item_images {
      width: 420px;
      position: relative; }
    .item-page .item_slider_secondary .is-active {
      border-color: #6938cc !important;
      border-radius: 5px; }
    .item-page .item_slider_secondary .splide__arrow {
      top: -250%; }
    .item-page .item_slider_secondary .splide__track {
      margin-top: 15px;
      display: flex;
      justify-content: center; }
    .item-page .item_slider_secondary .splide__pagination {
      bottom: -20px; }
      .item-page .item_slider_secondary .splide__pagination .is-active {
        background-color: #000; }
    .item-page .item_slider_primary {
      width: 100%; }
      .item-page .item_slider_primary .splide__track {
        height: 100%; }
      .item-page .item_slider_primary .splide__list {
        height: 100%; }
    .item-page .item_divider {
      margin-top: 10px; }
    .item-page .item_info {
      max-width: 580px;
      display: flex;
      padding-top: 50px;
      flex-direction: column; }
      .item-page .item_info_title {
        font-size: 26px;
        font-weight: 500;
        text-transform: uppercase; }
      .item-page .item_info_descr {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 300; }
      .item-page .item_info_selects {
        margin-top: 35px;
        display: flex; }
        .item-page .item_info_selects select {
          border-radius: 0.25em;
          padding: 0.25em 0.5em;
          font-size: 1.25rem;
          cursor: pointer;
          line-height: 1.1;
          background-color: #fff;
          background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          width: 100%;
          min-width: 15ch;
          max-width: 30ch;
          border: 1px solid #000;
          border-radius: 0.25em;
          margin: 0 7px; }
      .item-page .item_info_wrap {
        justify-content: space-between;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        font-weight: 400;
        margin: 15px 0;
        margin-top: 10px; }
        .item-page .item_info_wrap_price {
          color: #fff;
          background-color: #383636;
          width: 45%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 170px;
          border-radius: 25px; }
        .item-page .item_info_wrap .price_wrapper {
          color: #fff;
          display: flex;
          flex-direction: row; }
        .item-page .item_info_wrap .present {
          font-size: 18px;
          color: #2bc960; }
        .item-page .item_info_wrap .unpresent {
          font-size: 18px;
          color: red; }
        .item-page .item_info_wrap .old {
          display: inline;
          font-size: 18px;
          color: red;
          text-decoration: line-through;
          margin-right: 5px; }
        .item-page .item_info_wrap .new {
          display: inline;
          font-size: 18px;
          font-weight: 500; }
      .item-page .item_info_buy {
        display: flex;
        align-items: center;
        justify-content: center; }
        .item-page .item_info_buy form {
          display: flex;
          justify-content: space-between;
          flex-direction: column; }
          .item-page .item_info_buy form .btn {
            font-size: 20px;
            padding: 5px 15px; }
      .item-page .item_info_quantity {
        margin-right: 30px;
        margin: 10px auto;
        height: 40px;
        position: relative; }
        .item-page .item_info_quantity button {
          position: absolute;
          background-color: #fff;
          border: 1px solid #000;
          margin: 0;
          height: 100%; }
        .item-page .item_info_quantity .quantity_plus {
          left: 0px; }
        .item-page .item_info_quantity .quantity_dec {
          right: 0px; }
        .item-page .item_info_quantity input {
          height: 100%;
          width: 120px;
          text-align: center; }

.contacts-page {
  min-height: 100vh;
  padding-top: 100px; }
  .contacts-page_info p {
    font-weight: 300;
    text-align: center;
    font-size: 16px; }
  .contacts-page_info table {
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 300; }
    .contacts-page_info table td {
      margin: 0 3px; }

.delivery-page {
  padding-top: 120px;
  min-height: 100vh;
  padding-bottom: 25px; }
  .delivery-page_info p {
    font-weight: 300;
    text-align: center;
    font-size: 16px; }
  .delivery-page_info ol {
    margin-left: 250px;
    margin-top: 15px;
    margin-bottom: 25px; }
    .delivery-page_info ol li {
      font-weight: 300; }

.catalog-page {
  min-height: 100vh;
  padding-bottom: 25px; }
  .catalog-page_items {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .catalog-page_items a {
      color: #000; }
      .catalog-page_items a:hover {
        color: #000;
        text-decoration: none; }
  .catalog-page_item {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 0 10px;
    position: relative; }
    .catalog-page_item_img {
      position: relative;
      border-bottom: 1px solid #3e3e3e;
      padding-bottom: 3px;
      overflow: hidden; }
      .catalog-page_item_img:hover .hidden_info {
        bottom: 0; }
      .catalog-page_item_img img {
        width: 100%;
        object-fit: cover; }
    .catalog-page_item .hidden_info {
      position: absolute;
      transition: 1s bottom;
      transition-timing-function: ease-out;
      background-color: rgba(255, 255, 255, 0.55);
      backdrop-filter: blur(5px);
      bottom: -100%; }
      .catalog-page_item .hidden_info_title {
        text-align: center;
        font-size: 18px;
        font-weight: 500; }
      .catalog-page_item .hidden_info_descr {
        font-weight: 300;
        font-size: 14px;
        text-align: center; }
    .catalog-page_item_info {
      text-align: center;
      padding: 10px 20px; }
    .catalog-page_item_title {
      font-weight: 400;
      font-size: 24px; }

.items-page {
  min-height: 100vh; }
  .items-page ul {
    padding: 25px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .items-page_item {
    width: 340px;
    margin: 0 10px;
    margin-top: 25px; }
    .items-page_item a {
      color: #000; }
      .items-page_item a:hover {
        color: #000;
        text-decoration: none; }
    .items-page_item_img {
      position: relative;
      border-bottom: 1px solid #3e3e3e;
      padding-bottom: 3px;
      overflow: hidden; }
      .items-page_item_img:hover .hidden_info {
        bottom: 0; }
      .items-page_item_img img {
        width: 100%;
        object-fit: cover; }
    .items-page_item_info {
      display: flex;
      padding: 0 25px;
      padding-top: 10px;
      justify-content: space-between;
      align-items: center; }
  .items-page .hidden_info {
    position: absolute;
    transition: 1s bottom;
    transition-timing-function: ease-out;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(5px);
    bottom: -100%; }

.reg-page {
  padding-top: 110px;
  padding-bottom: 50px; }
  .reg-page .show {
    display: block; }
  .reg-page .hide {
    display: none; }
  .reg-page_wrapper .labels {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .reg-page_wrapper .labels .login, .reg-page_wrapper .labels .register {
      width: 50%;
      text-align: center;
      transition: .3s box-shadow ease-in;
      padding: 5px 0; }
      .reg-page_wrapper .labels .login a, .reg-page_wrapper .labels .register a {
        color: #000;
        font-size: 16px;
        text-transform: uppercase; }
        .reg-page_wrapper .labels .login a:hover, .reg-page_wrapper .labels .register a:hover {
          color: #000;
          text-decoration: none; }
      .reg-page_wrapper .labels .login:hover, .reg-page_wrapper .labels .register:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border: 1px solid rgba(0, 0, 0, 0.3); }
  .reg-page_wrapper .forms {
    margin-top: 50px; }
    .reg-page_wrapper .forms .reset {
      position: absolute;
      bottom: -20px;
      left: 100px;
      min-width: 120px;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.19);
      display: flex;
      justify-content: center;
      align-items: center; }
      .reg-page_wrapper .forms .reset a {
        color: #000;
        text-transform: uppercase; }
        .reg-page_wrapper .forms .reset a:hover {
          color: #000;
          text-decoration: none; }

.log, .reg, .addItem-page_form {
  padding: 0 100px;
  position: relative; }
  .log form, .reg form, .addItem-page_form form {
    padding-bottom: 25px;
    display: flex;
    position: relative;
    flex-direction: column; }
    .log form .input, .reg form .input, .addItem-page_form form .input {
      position: relative;
      margin: 25px 0;
      height: 45px; }
      .log form .input input, .log form .input textarea, .reg form .input input, .reg form .input textarea, .addItem-page_form form .input input, .addItem-page_form form .input textarea {
        height: 100%;
        width: 100%;
        padding: 7px 10px;
        font-size: 16px; }
        .log form .input input:focus, .log form .input textarea:focus, .reg form .input input:focus, .reg form .input textarea:focus, .addItem-page_form form .input input:focus, .addItem-page_form form .input textarea:focus {
          outline: none; }
        .log form .input input:hover, .log form .input textarea:hover, .reg form .input input:hover, .reg form .input textarea:hover, .addItem-page_form form .input input:hover, .addItem-page_form form .input textarea:hover {
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
      .log form .input label, .reg form .input label, .addItem-page_form form .input label {
        position: absolute;
        top: -12px;
        left: 10px;
        background-color: #fff;
        padding: 0 7px; }
    .log form .textarea, .reg form .textarea, .addItem-page_form form .textarea {
      height: 100px; }

.addItem-page {
  padding-top: 110px;
  min-height: 800px; }
  .addItem-page_form form .input_prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .addItem-page_form form .input_prices .input {
      width: 32%; }
    .addItem-page_form form .input_prices .textarea {
      height: 100px; }

.container {
  width: 1140px;
  margin: 0 auto; }

body {
  font-family: Montserrat, sans-serif; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333; }

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333; }

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333; }

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: #333; }

input:hover {
  -webkit-box-shadow: 0 0 0 50px white inset !important; }
